<nav class="navbar-vertical navbar">
  <div id="myScrollableElement" class="h-screen" data-simplebar>
    <!-- brand logo -->
    <a class="navbar-brand" href="./index.html">
      <img src="./assets/images/brand/logo/logo.svg" alt="" />
    </a>
    <!-- navbar nav -->
    <ul class="navbar-nav flex-col" id="sideNavbar">
      <li class="nav-item">
        <a class="nav-link  active " href="./">
          <i data-feather="home" class="w-4 h-4 mr-2"></i> Dashboard </a>
      </li>
      <!-- nav item -->
      <li class="nav-item">
        <div class="navbar-heading">Pages</div>
      </li>
      <!-- nav item -->
      
      
      <!-- nav heading -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">
          <i data-feather="columns" class="w-4 h-4 mr-2"></i> Products </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/add-product">
          <i data-feather="archive" class="w-4 h-4 mr-2"></i> Add Product </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/add-product-type">
          <i data-feather="award" class="w-4 h-4 mr-2"></i> Add Product Type </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/add-product-category">
          <i data-feather="book" class="w-4 h-4 mr-2"></i> Add Product Category </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">
          <i data-feather="cast" class="w-4 h-4 mr-2"></i> Orders </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/admin/">
          <i data-feather="user" class="w-4 h-4 mr-2"></i> Users </a>
      </li> -->
    </ul>
  </div>
</nav>