<!doctype html>
<html lang="en">
<head>
    <%-include('head')-%>
</head>
<body>
    <!--https://nest-frontend-v6.netlify.app/-->
    <section class="container mx-auto">
        
    </section>
</body>

</html>