<!doctype html>
<html lang="en">
<head>
    <%-include('head')-%>
</head>
<body>
    <!--https://nest-frontend-v6.netlify.app/-->
    <section class="container mx-auto flex border" id="productPage">
        <div class="border flex w-3/4">
            123
        </div>
        <div class="w-1/4">
            <div class="product-category border">
                <h1 class="my-5">Category</h1>
                <ul class="flex flex-col gap-5 p-5">
                    <li class="flex p-3 rounded-md justify-between items-center">
                        <div class="flex gap-3 items-center">
                            <img src="img/category-1.svg" alt="" class="w-7">
                            <a href="" class="text-sm font-medium">
                                Milks & Dairies
                            </a>
                        </div>
                        <p class="text-xs font-bold">
                            30
                        </p>
                    </li>
                    <li class="flex p-3 rounded-md justify-between items-center">
                        <div class="flex gap-3 items-center">
                            <img src="img/category-1.svg" alt="" class="w-7">
                            <a href="" class="text-sm font-medium">
                                Milks & Dairies
                            </a>
                        </div>
                        <p class="text-xs font-bold">
                            30
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>