<section class="container mx-auto" id="featuredCate">
        <div class="title-bar flex justify-between items-center">
            <h1 class="text-4xl font-bold">
                Featured Categories
            </h1>
            <ul class="flex gap-5 font-semibold text-sm">
                <li>
                    <a href="">Cake & Milk</a>
                </li>
                <li>
                    <a href="">Coffees & Teas</a>
                </li>
                <li>
                    <a href="">Pet Foods</a>
                </li>
                <li>
                    <a href="">Vegetables & Fruits</a>
                </li>
            </ul>
        </div>

        <div class="cate-box mt-8">
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="category flex flex-col items-center gap-1 rounded-lg p-5 shadow" style="background-color: #FFF3FF;">
                            <img src="img/cat-1.png" alt="">
                            <a href="/query?id=Vegetables" class="font-semibold text-sm">Vegetables</a>
                            <!-- <span class="text-sm text-slate-500">28 items</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category flex flex-col items-center gap-1 rounded-lg p-5 shadow" style="background-color: #f3fff3;">
                            <img src="img/cat-2.png" alt="">
                            <a href="/query?id=Fruits" class="font-semibold text-sm">Fruits</a>
                            <!-- <span class="text-sm text-slate-500">28 items</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category flex flex-col items-center gap-1 rounded-lg p-5 shadow" style="background-color: #fffff3;">
                            <img src="img/cat-3.png" alt="">
                            <a href="/query?id=Seeds" class="font-semibold text-sm">Seeds</a>
                            <!-- <span class="text-sm text-slate-500">28 items</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category flex flex-col items-center gap-1 rounded-lg p-5 shadow" style="background-color: #f4f3ff;">
                            <img src="img/cat-4.png" alt="">
                            <a href="/query?id=Seasonal" class="font-semibold text-sm">Seasonal</a>
                            <!-- <span class="text-sm text-slate-500">28 items</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category flex flex-col items-center gap-1 rounded-lg p-5 shadow" style="background-color: #fff3f8;">
                            <img src="img/cat-5.png" alt="">
                            <a href="/query?id=Natural" class="font-semibold text-sm">Natural</a>
                            <!-- <span class="text-sm text-slate-500">28 items</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category flex flex-col items-center gap-1 rounded-lg p-5 shadow" style="background-color: #f7fff3;">
                            <img src="img/cat-14.png" alt="">
                            <a href="/query?id=Oats" class="font-semibold text-sm">Oats</a>
                            <!-- <span class="text-sm text-slate-500">28 items</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category flex flex-col items-center gap-1 rounded-lg p-5 shadow" style="background-color: #fff8f3;">
                            <img src="img/cat-13.png" alt="">
                            <a href="/query?id=Bakery" class="font-semibold text-sm">Bakery</a>
                            <!-- <span class="text-sm text-slate-500">28 items</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category flex flex-col items-center gap-1 rounded-lg p-5 shadow" style="background-color: #f3faff;">
                            <img src="img/cat-15.png" alt="">
                            <a href="/query?id=Electric" class="font-semibold text-sm">Electric</a>
                            <!-- <span class="text-sm text-slate-500">28 items</span> -->
                        </div>
                    </div>
                    
                </div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </section>