<!doctype html>
<html lang="en">
<head>
    <%-include('head')-%>
</head>
<body>
    <!--https://nest-frontend-v6.netlify.app/-->
    <%-include('header')%>
  <section class="container flex mx-auto" id="loginPage">
    <div class="w-1/2 flex flex-col items-center justify-center">
      <img src="img/Login-bro.svg" alt="">
    </div>
    <div class="w-1/2 flex flex-col justify-center">

      <% if (success_messages && success_messages.length > 0) { %>
        <div class="bg-teal-200 mt-5 flex items-center w-3/4 text-gray-900 rounded-lg p-4 alert" role="alert">
            <span><span class="font-bold">Success:</span> <%= success_messages[0] %></span>
        </div>
      <% } %>
    
      <% if (error_messages && error_messages.length > 0) { %>
        <div class="bg-red-200 w-3/4 mt-5 flex items-center text-gray-900 rounded-lg p-4 alert" role="alert">
            <span><span class="font-bold">Error:</span> <%= error_messages[0] %></span>
        </div>
      <% } %>
      <h1 class="text-4xl mt-4 font-bold">Login</h1>
      <h5 class="text-slate-500 text-sm mt-3 font-semibold">Don't have an account? <a href="/register">Create here</a></h5>
      <form action="/login" method="POST" class="w-full">
        <br>
        <input name="username" autocomplete="off" type="text" class="border w-3/4 p-3" placeholder="Username *"><br><br>
        <input name="password" autocomplete="off" type="password" class="border w-3/4 p-3" placeholder="Password *"><br><br>
        <input type="checkbox"> <label class="text-slate-500 text-sm font-medium" for="">Remember me</label><br><br>
        <button class="rounded py-3 w-32">Login</button>
        <br><br>
      </form>
      <a href="" class="text-sm font-semibold">Forgot Password?</a>
    </div>
  </section>
</body>
</html> 
