  <section class="container border flex mx-auto" id="loginPage">
    <div class="w-1/2 flex flex-col items-center justify-center">
      <img src="img/Login-bro.svg" alt="">
    </div>
    <div class="w-1/2 flex flex-col justify-center">
      <h1 class="text-4xl font-bold">Login</h1>
      <h5 class="text-slate-500 text-sm mt-3 font-semibold">Don't have an account? <a href="">Create here</a></h5>
      <form action="" class="w-full">
        <br>
        <input autocomplete="off" type="text" class="border w-3/4 p-3" placeholder="Username or Email *"><br><br>
        <input autocomplete="off" type="text" class="border w-3/4 p-3" placeholder="Password *"><br><br>
        <input type="checkbox"> <label class="text-slate-500 text-sm font-medium" for="">Remember me</label><br><br>
        <button class="rounded py-3 w-32">Login</button>
        <br><br>
      </form>
      <a href="" class="text-sm font-semibold">Forgot Password?</a>
    </div>
  </section>
