<!doctype html>
<html lang="en">
<head>
    <%-include('head')-%>
</head>
<body>
  <%-include('header')%>
  <section class="container mx-auto" id="checkout">
    <div class="top-bar flex justify-center items-center flex-col">
      <h1 class="text-4xl mt-4 font-bold">Welcome, <%=user.userName%></h1>
      <div class="btn-group mt-5">
        <button class="font-semibold text-xl rounded w-40 h-40"><a href="/myorder">My Orders</a></button>
        <button class="font-semibold text-xl rounded w-40 h-40"><a href="/myprofile">My Profile</a></button>
      </div>
      <div class="btn-group mt-1">
        <button class="font-semibold text-xl rounded w-40 h-40"><a href="">Track Order</a></button>
        <button class="font-semibold text-xl rounded w-40 h-40"><a href="/logout">Logout</a></button>
      </div>
    </div>
    
  </section>

  
</body>
</html>