<section class="container mx-auto" id="popularSection">
    <div class="title-bar flex justify-between items-center">
        <h1 class="text-4xl font-medium">
            Popular Products
        </h1>
        <ul class="flex gap-5 font-medium text-sm">
            <li>
                <a href="" class="active">All</a>
            </li>
            <li>
                <a href="">Milk & Dairies</a>
            </li>
            <li>
                <a href="">Coffees & Teas</a>
            </li>
            <li>
                <a href="">Pet Foods</a>
            </li>
            <li>
                <a href="">Meats</a>
            </li>
            <li>
                <a href="">Vegetables</a>
            </li>
            <li>
                <a href="">Fruit</a>
            </li>
        </ul>
    </div>


    <div class="product-grid mt-8 grid grid-cols-5 gap-5">
        <div class="product p-3 border flex gap-1 flex-col relative">
            <div class="product-tag absolute top-0 left-0 px-2 py-1 rounded-e-full">
                <span class="text-xs font-semibold">Sale</span>
            </div>
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
        <div class="product p-3 border flex gap-1 flex-col">
            <div class="product-image">
                <img src="img/product-1-1.jpg" alt="">
            </div>
            <a href="" class="text-slate-400 font-medium text-sm">Snack</a>
            <a href="" class="font-medium mt-2">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
            <div class="rating-box flex gap-2">
                <div class="stars">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div class="rating">
                    <span>(4.0)</span>
                </div>
            </div>
            <span>By <a href="">NestFood</a></span>
            <div class="price-box justify-between flex gap-2 items-center">
                <h3 class="font-semibold text-lg">$28.85</h3>
                <h4 class="font-semibold line-through">$32.8</h4>
                <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
            </div>
        </div>
    </div>
</section>