  <section class="container mx-auto" id="wishList">
    <h1 class="text-4xl font-bold">Your Wishlist</h1>
    <p class="text-sm font-semibold text-slate-500">There are <span class="font-bold">5</span> products in this list</p>
    <table class="table-auto w-full border">
      <thead>
        <tr class="bg-slate-200">
          <th>Sr</th>
          <th>Product</th>
          <th>Price</th>
          <th>Stock Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr class="border-b">
          <td class="w-16">
            1
          </td>
          <td>
            <div class="wish-product flex text-left py-5 gap-8">
              <div class="wish-image border rounded-lg overflow-hidden">
                <img src="img/product-1-1.jpg" alt="" class="w-28">
              </div>
              <div class="wish-product-detail flex flex-col justify-center">
                <a href="" class="font-semibold text-sm">Field roast chaos cheese spicy oil</a>
                <div class="rating-box text-sm">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i>(4.5)</i>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="wish-price">
              <h2 class="font-bold text-3xl">$3.99</h2>
            </div>
          </td>
          <td>
            <div class="wish-stock">
              <span class="rounded text-sm font-bold">In Stock</span>
            </div>
          </td>
          <td>
            <div class="wish-add-cart">
              <button class="text-sm font-semibold p-3 rounded">Add to Cart</button>
            </div>
          </td>
          <td class="w-28">
            <div class="wish-trash">
              <button><i class='bx bxs-trash' ></i></button>
            </div>
          </td>
        </tr>

        <tr class="border-b">
          <td class="w-16">
            1
          </td>
          <td>
            <div class="wish-product flex text-left py-5 gap-8">
              <div class="wish-image border rounded-lg overflow-hidden">
                <img src="img/product-1-1.jpg" alt="" class="w-28">
              </div>
              <div class="wish-product-detail flex flex-col justify-center">
                <a href="" class="font-semibold text-sm">Field roast chaos cheese spicy oil</a>
                <div class="rating-box text-sm">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i>(4.5)</i>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="wish-price">
              <h2 class="font-bold text-3xl">$3.99</h2>
            </div>
          </td>
          <td>
            <div class="wish-stock">
              <span class="rounded text-sm font-bold">In Stock</span>
            </div>
          </td>
          <td>
            <div class="wish-add-cart">
              <button class="text-sm font-semibold p-3 rounded">Add to Cart</button>
            </div>
          </td>
          <td class="w-28">
            <div class="wish-trash">
              <button><i class='bx bxs-trash' ></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

