#dailyBest{
    h1{
        color: #35374B;
    }
    .active{
        color: #3BB77E;
        position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #91ff00;
                bottom: -2px;
                transition: 0.2s;
            }
    }
    ul{
        li{
            a{
                color: #35374B;
            }
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: #91ff00;
                bottom: -2px;
                transition: 0.2s;
            }
            &:hover::before{
                width: 100%;
            }
        }
    }
    .product-slider{
        .banner {
            img {
                transition: 0.2s;
            }
        
            h1 {
                transition: 0.2s;
            }
        
            &:hover {
                img {
                    opacity: 0.8;
                }
        
                h1 {
                    transform: translateY(10px);
                }
            }
            button {
                background-color: #3BB77E;
                color: white;
                transition: 0.2s;
            
                span {
                    transition: 0.2s;
                }
            
                &:hover {
                    background-color: #ffbd2e;
                    color: #344955;
            
                    span {
                        margin-left: 8px;
                    }
                }
            }
        }
        
        h1 {
            color: #344955;
        }
        
        .product-grid{
            height: 100%;
            .swiper {
                width: 100%;
                height: 100%;
            }
            .swiper-slide {
                // font-size: 18px;
                // background: red;
                // padding: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .product{
                height: 100%;
                .product-tag{
                    background-color: #3BB77E;
                    color: white;
                }
                span{
                    a{
                        color: #3BB77E;
                    }
                }
                a{
                    transition: 0.2s;
                    &:hover{
                        color: #3BB77E;
                    }
                }
                button{
                    background-color: #c7ffca;
                    color: #3BB77E;
                    transition: 0.2s;
                    padding: 5px 15px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    &:hover{
                        background-color: #3BB77E;
                        color: white;
                    }
                }
            }

        }
    }
}