#featuredCate{
    .title-bar{
        h1{
            color: #35374B;
        }
        a{
            color: #35374B;
        }
        ul{
            li{
                a{
                    color: #35374B;
                }
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: #91ff00;
                    bottom: -2px;
                    transition: 0.2s;
                }
                &:hover::before{
                    width: 100%;
                }
            }
        }
    }
    .cate-box{
        .swiper {
            width: 100%;
            height: 100%;
            padding-bottom: 30px;
        }
        
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .swiper-slide img {
            display: block;
            // width: 100%;
            // height: 100%;
            object-fit: cover;
        }
        .swiper-pagination .swiper-pagination-bullet-active {
            background-color: #3BB77E;
        }
        img{
            width: 80px;
        }
        a{
            color: #35374B;
            transition: 0.2s;
                &:hover{
                    color: #3BB77E;
                }
        }
    }
}