#productPage{
    .product-category{
        ul{
            
            li{
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;     
            }
            p{
                width: 20px;
                height: 20px;
                background-color: rgb(119, 201, 163);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 14px;
                color: white;
            }
            a{
                color: #344955;
            }
        }
    }
}