@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Quicksand", sans-serif;
}

header .header-top ul li a {
  transition: 0.2s;
}
header .header-top ul li a:hover {
  color: #3BB77E;
}
header .header-top ul li strong {
  color: #3BB77E;
}
header .header-middle .search-bar {
  border: 1px solid #3BB77E;
}
header .header-middle .search-bar input:focus {
  box-shadow: none;
  outline: none;
}
header .header-middle ul li a {
  transition: 0.2s;
}
header .header-middle ul li a .float-counter {
  background-color: #3BB77E;
  color: white;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  font-size: 12px;
  font-weight: 700;
  left: 8px;
  transition: 0.2s;
}
header .header-middle ul li a:hover {
  color: #3BB77E;
}
header .header-middle ul li a:hover .float-counter {
  top: -15px;
}
header .header-bottom button {
  background-color: #3BB77E;
  color: white;
  transition: 0.2s;
}
header .header-bottom button:hover {
  background-color: #309968;
}
header .header-bottom a {
  color: #35374B;
  transition: 0.2s;
}
header .header-bottom a:hover {
  color: #3BB77E;
}
header .header-bottom .support-call h1 {
  color: #3BB77E;
}
header .header-bottom li {
  transition: 0.2s;
}
header .header-bottom li .dropdown {
  visibility: hidden;
  border: 1px solid #309968;
  z-index: 10;
  transform: translateY(23px);
  transition: 0.5s;
  opacity: 0;
}
header .header-bottom li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

#bannerSection .banner img {
  transition: 0.2s;
}
#bannerSection .banner h1 {
  transition: 0.2s;
}
#bannerSection .banner:hover img {
  opacity: 0.8;
}
#bannerSection .banner:hover h1 {
  transform: translateY(10px);
}
#bannerSection h1 {
  color: #344955;
}
#bannerSection button {
  background-color: #3BB77E;
  color: white;
  transition: 0.2s;
}
#bannerSection button span {
  transition: 0.2s;
}
#bannerSection button:hover {
  background-color: #ffbd2e;
  color: #344955;
}
#bannerSection button:hover span {
  margin-left: 8px;
}

#popularSection h1 {
  color: #35374B;
}
#popularSection .active {
  color: #3BB77E;
  position: relative;
}
#popularSection .active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #91ff00;
  bottom: -2px;
  transition: 0.2s;
}
#popularSection ul li {
  position: relative;
}
#popularSection ul li a {
  color: #35374B;
}
#popularSection ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #91ff00;
  bottom: -2px;
  transition: 0.2s;
}
#popularSection ul li:hover::before {
  width: 100%;
}
#popularSection .product-grid .product .product-tag {
  background-color: #3BB77E;
  color: white;
}
#popularSection .product-grid .product span a {
  color: #3BB77E;
}
#popularSection .product-grid .product a {
  transition: 0.2s;
}
#popularSection .product-grid .product a:hover {
  color: #3BB77E;
}
#popularSection .product-grid .product button {
  background-color: #c7ffca;
  color: #3BB77E;
  transition: 0.2s;
  padding: 5px 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
#popularSection .product-grid .product button:hover {
  background-color: #3BB77E;
  color: white;
}

#dailyBest h1 {
  color: #35374B;
}
#dailyBest .active {
  color: #3BB77E;
  position: relative;
}
#dailyBest .active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #91ff00;
  bottom: -2px;
  transition: 0.2s;
}
#dailyBest ul li {
  position: relative;
}
#dailyBest ul li a {
  color: #35374B;
}
#dailyBest ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #91ff00;
  bottom: -2px;
  transition: 0.2s;
}
#dailyBest ul li:hover::before {
  width: 100%;
}
#dailyBest .product-slider .banner img {
  transition: 0.2s;
}
#dailyBest .product-slider .banner h1 {
  transition: 0.2s;
}
#dailyBest .product-slider .banner:hover img {
  opacity: 0.8;
}
#dailyBest .product-slider .banner:hover h1 {
  transform: translateY(10px);
}
#dailyBest .product-slider .banner button {
  background-color: #3BB77E;
  color: white;
  transition: 0.2s;
}
#dailyBest .product-slider .banner button span {
  transition: 0.2s;
}
#dailyBest .product-slider .banner button:hover {
  background-color: #ffbd2e;
  color: #344955;
}
#dailyBest .product-slider .banner button:hover span {
  margin-left: 8px;
}
#dailyBest .product-slider h1 {
  color: #344955;
}
#dailyBest .product-slider .product-grid {
  height: 100%;
}
#dailyBest .product-slider .product-grid .swiper {
  width: 100%;
  height: 100%;
}
#dailyBest .product-slider .product-grid .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#dailyBest .product-slider .product-grid .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#dailyBest .product-slider .product-grid .product {
  height: 100%;
}
#dailyBest .product-slider .product-grid .product .product-tag {
  background-color: #3BB77E;
  color: white;
}
#dailyBest .product-slider .product-grid .product span a {
  color: #3BB77E;
}
#dailyBest .product-slider .product-grid .product a {
  transition: 0.2s;
}
#dailyBest .product-slider .product-grid .product a:hover {
  color: #3BB77E;
}
#dailyBest .product-slider .product-grid .product button {
  background-color: #c7ffca;
  color: #3BB77E;
  transition: 0.2s;
  padding: 5px 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
#dailyBest .product-slider .product-grid .product button:hover {
  background-color: #3BB77E;
  color: white;
}

#dealOfDay .title-bar h1 {
  color: #35374B;
}
#dealOfDay .title-bar a {
  color: #35374B;
}
#dealOfDay .title-bar ul li {
  position: relative;
}
#dealOfDay .title-bar ul li a {
  color: #35374B;
}
#dealOfDay .title-bar ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #91ff00;
  bottom: -2px;
  transition: 0.2s;
}
#dealOfDay .title-bar ul li:hover::before {
  width: 100%;
}
#dealOfDay .deal-box .deals .product-tag {
  background-color: #3BB77E;
  color: white;
}
#dealOfDay .deal-box .deals span a {
  color: #3BB77E;
}
#dealOfDay .deal-box .deals a {
  transition: 0.2s;
}
#dealOfDay .deal-box .deals a:hover {
  color: #3BB77E;
}
#dealOfDay .deal-box .deals button {
  background-color: #c7ffca;
  color: #3BB77E;
  transition: 0.2s;
  padding: 5px 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
#dealOfDay .deal-box .deals button:hover {
  background-color: #3BB77E;
  color: white;
}
#dealOfDay .deal-box .deals .desc-box {
  transition: 0.4s;
}
#dealOfDay .deal-box .deals:hover .desc-box {
  top: 70%;
  background-color: #f3fff1;
}

#featuredCate .title-bar h1 {
  color: #35374B;
}
#featuredCate .title-bar a {
  color: #35374B;
}
#featuredCate .title-bar ul li {
  position: relative;
}
#featuredCate .title-bar ul li a {
  color: #35374B;
}
#featuredCate .title-bar ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #91ff00;
  bottom: -2px;
  transition: 0.2s;
}
#featuredCate .title-bar ul li:hover::before {
  width: 100%;
}
#featuredCate .cate-box .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}
#featuredCate .cate-box .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#featuredCate .cate-box .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
#featuredCate .cate-box .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3BB77E;
}
#featuredCate .cate-box img {
  width: 80px;
}
#featuredCate .cate-box a {
  color: #35374B;
  transition: 0.2s;
}
#featuredCate .cate-box a:hover {
  color: #3BB77E;
}

#productPage .product-category ul li {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#productPage .product-category ul p {
  width: 20px;
  height: 20px;
  background-color: rgb(119, 201, 163);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  color: white;
}
#productPage .product-category ul a {
  color: #344955;
}/*# sourceMappingURL=style.css.map */